body
{
  color: white;
  background: lightgreen;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed white;
  width: 350px;
  height: 300px; 
  background-color: black;
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.header{
  border-radius: 20px;
}
.background_for_label{
  background-color: white;
  color: darkgreen;
}